<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
    <title>Webshop</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../script/admin.js"></script>
    <link rel="icon" href="#" type="image/x-icon">
</head>

<body>
    <h1>ADMINSIDA</h1>
    <div>
        <button  type='submit' id = "logout-admin">Logga ut</button> <br> <br>
        <hr>
    </div>
    <div>
        <h2>Användare</h2>
        <table class = "admin-table" id = "admin-users">
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Address</th>
                <th>Email</th>
                <th>Användarnamn</th>
                <th>Lösenord</th>
                <th>Roll</th>
                <th>Totalt handlat för</th>
            </tr>
        </table>
    </div>
    <div>
        <br> <h2 id = "ordered-by"></h2>
        <table class = "admin-table" id = "orders"></table>
    </div>
    <div>
        <br> <h2 id = "product-tag"></h2>
        <table class = "admin-table" id = "products"></table>
    </div>
</body>