<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="sv">
<head>
    <title>Webshop_customer</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="../script/customer.js"></script>
    <link rel="icon" href="#" type="image/x-icon">
</head>


<body>
    <div class="customer-page-header">
        <h1>KUNDSIDA</h1>
    </div>

    <!-- ************USER*************-->

    <div class="logout-block">
    </div>

    <!-- ************SEARCH*************-->

    <br/>
    <div class="search-block">
        <label for="search-input"></label>
        <input type="text" id="search-input" placeholder="Sök vara.."/>
        <input type="submit" id="search-btn" value="Sök"/>

        <div class="found-products"></div>
    </div>

    <hr/>

<!-- ************PRODUCT*************-->
    <div id="product-block" class="product-block">
    <!--det är javascript som fyller det-->
    </div>

    <!--*************CART************-->
    <div class="cart-block">
        <h1>Kundvagn</h1>
        <table class="cart-tabell">
        </table>

        <br/>
        <span>
        <label>Total: </label>  <label class="total"></label>
        </span>
        <label value=" (Premium rabatt inkluderad!)" rendered="false"/> <!-- vad blir det?-->
        <br/>
        <button id="buy" type="submit">Köp</button>
        <input type="submit" value = "Töm varukorg"/> <!-- att koppla med rätta event-->
    </div>

</body>
</html>
