<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
    <title>Webshop_customer</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../script/customer.js"></script>
</head>


<body>
    <h1>KUNDSIDA</h1>
    <!-- ************SEARCH*************-->

        <div class="search-block">
            <br/>
            <label value="Sök vara: "/>
            <input type="text"/>
            <input type="submit" value="Sök"/>

            <br/> <br/>
            <label class="product-title-s"/>  <!--att koppla med product-->
            <br/> <br/>
            <label class="product-description-s"/> <!--att koppla med description-->
            <input type="submit" value="Lägg i kundvagn"/>

           <br/>
        </div>


    <!-- ************USER*************-->

        <div class="logout-block">
            <div id="logout-block">
            <!--det är javascript som fyller det-->
            </div>
        <br><br><br>
        <button  type='submit' id='logout-btn'>Logga ut</button>
        </div>



    <br/> <br/>
    <hr/>
    <br/> <br/>



<!-- ************PRODUCT*************-->
    <div id="product-block" class="product-block">
    <!--det är javascript som fyller det-->
    </div>


    <!--*************CART************-->
    <div class="cart-block">
        <h1>Kundvagn</h1>
        <table class="cart-tabell">


        </table>

        <br/>
        <span>
        <label>Total: </label>  <label class="total"></label> kr
        </span>
        <label id ="discount-msg"></label>
        <br/>
        <button id="buy" type="submit">Köp</button>
        <button id = "clear" type="submit" >Töm varukorg</button>
    </div>

</body>

</html>
