<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="sv">
<head>
    <title>Webshop</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="../script/order.js"></script>
    <link rel="icon" href="#" type="image/x-icon">
</head>

<body>
    <h1>Din beställning har bekräftats!</h1>
    <div>
    <h2>Innehåll:</h2>

    <table id="cart-tabell" class="cart-tabell">

    </table>

    <br/><br/>

        <label>Total: </label>
        <label id="total-orderSida"></label> kr
        <label id="msg-orderSida"> </label>
        <br><br>
        <button id="back" type="submit">Tillbaka till shoppen!</button>
    </div>
</body>
</html>
