<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
    <title>Webshop</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../script/order.js"></script>
</head>

<body>



        <h1>Din beställning har bekräftats!</h1>
        <div>
        <h2>Innehåll:</h2>
            <table class="cart-tabell">
                <tbody>
                <tr>

                </tr>
                </tbody>
            </table>
        <br/><br/>
            <label value="Total:"/> <label/>
            <label value=" (Premium rabatt inkluderad!)" rendered="false"/>
            <br><br>
            <button id="back" type="submit">Tillbaka till shoppen!</button>
        </div>





</body>
</html>
