<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
    <title>Webshop_register</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../script/register.js"></script>
</head>

<body>

        <div>
            <form id ="register-form" class="user-password">
                <h1>Register page</h1>                                       <br/>
                <label  class="password-label">Förnamn: </label>
                <input type="text" id="firstname" name="firstname" class="password-value">   <br/>

                <label  class="password-label">Efternamn: </label>
                <input type="text" id="lastname" name="lastname" class="password-value">    <br/>

                <label  class="password-label">Adress: </label>
                <input type="text" id="address" name="address" class="password-value">     <br/>

                <label  class="password-label">Användarnamn: </label>
                <input type="text" id="username" name="username" class="password-value">    <br/>

                <label  class="password-label">Lösenord: </label>
                <input type="text" id="password" name="password" class="password-value">    <br/>

                <label  class="password-label">Email: </label>
                <input type="text" id="email" name="email" class="password-value">       <br/>

                <br/><br/>

                <input type="submit"  value="Registrera"/>
            </form>
    </div>
</body>
</html>
